<div class="container">
  <div class="form">
    <h1 class="header">todos</h1>
    <Todos-input @addTodos={{action addTodos}} @doneAllTodos={{action doneAllTodos}} />
  </div>
  <div class="todo-list-items">
    {{#each filteredTodos key="@index" as |todo|}}
    <Todo-item @removeTodo={{action removeTodo}} @todo={{todo}} />
    {{/each}}
    {{#if todos.length}}
    <Filter-buttons @setType={{action setType}} @removeAllDoneTodos={{action removeAllDoneTodos}} />
    {{/if}}
  </div>
</div>